.titulo{
    text-align: center;
}

.titulo h1{
    Font-family: Cat Comic, cursive;
    font-size: 60px;
    color: rgb(73, 73, 73);

}

.titulo p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(53, 53, 53);
    font-size: large;
    margin-bottom: 80px;
}

.grid-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
  
.interior {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    color: #2b2b2b;
    margin: 0px;
    align-items:normal;
    font-family: Super Toast Personal Use, cursive;
    font-size: 40px;;
    width: 100%;
}

.interior .amarillo img{
    width: 170px;
    height: 170px;
}

.interior .naranjo img{
    width: 200px;
    height: 200px;
}

.interior .rosa img{
    width: 290px;
    height: 150px;
}

.interior .azul img{
    width: 150px;
    height: 150px;
}

.amarillo {
    background-color: #ebc416; 
    height: 500px;
    width: 675px;
}  
.naranjo {
    background-color: #eaa64d; 
    height: 500px;
    width: 675px;
}
  
.rosa {
    background-color: #fa6780; 
    height: 500px;
    width: 675px;
}
  
.azul {
    background-color: #0a96c4; 
    height: 500px;
    width: 675px;
}
  

.boton1 {
    background-color: transparent;
    font-family: Super Toast Personal Use, cursive;
    font-size: 30px;
    border: 2px solid #464545;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
  
  .boton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.boton {
    background-color: transparent;
    font-family: Super Toast Personal Use, cursive;
    font-size: 30px;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
  
  .boton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.footer {
    background-color: #3d3d3d;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 400px;
    margin-top: -20px;
    margin-bottom: 0px;
}


.izquierda{
    display: flex;
    margin: 90px;
    text-decoration: none;
}

.izquierda h4 {
    color: white;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 13px;
    text-decoration:#3c3c3c;
}

.centro {
    font-weight: 100;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    font-family: Super Toast Personal Use, cursive;
    color: #ffc107;

}

.formulario {
    margin-top: 10px;
    margin-right: -10px;
}

.formulario input {
    padding: 10px;
    margin-right: -5px;
    border: none;
    border-radius: 0px;
}

.botonenviar {
    font-family: Super Toast Personal Use, cursive;
    font-size: 14px;
    background-color: #ffc107;
    color: #3c3c3c;
    border: none;
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
    margin-left: -3px;
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px;
}

.contacto {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.contacto img {
    width: 20px;
    margin-right: 5px;
}

.callcenter h4, .callcenter p {
    margin: 5px 0;
    display: flex;
    justify-content: right;
    font-family: Arial, Helvetica, sans-serif;
}

.barranegra{
    background-color: rgb(43, 43, 43);
    padding: 0px;
    margin-top:0px;
    width: 100%;
}

.barranegra .textobarra{
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


.insta {
    background-color: #fff; 
    padding: 20px; 
}

.nombre {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.nombre h2 {
    Font-family: Cat Comic, cursive;
    font-weight: 100;
    color: #616161;
    margin-left: 20px; 
}

.redessociales img {
    width: 40px; 
    height: auto;
}

.posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    margin-bottom: 20px; 
}

.imagen {
    width: 100%; 
    height: auto;
}

.imagen img {
    width: 100%; 
    height: 700px;
    overflow: hidden;
}

.botones {
    display: flex;
    justify-content: space-evenly; 
}

.botonnegro {
    background-color: #424242; 
    color: #fff; 
    padding: 20px 30px; 
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.botonazul {
    background-color: #268fff; 
    color: #fff; 
    padding: 20px 30px; 
    border: none;
    border-radius: 5px;
    font-size: 20px;

}

header{
    display: flex;
    height: 60px;
    background-color:rgb(240, 239, 239) ;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
   
}

.logo{
    display: flex
}

.logo img{
    justify-content: left;
    height: 60;
    width: 210;
}

nav a{
    padding-left: 20px;
    margin-right: 20px;
    text-rendering:optimizeLegibility;
    font-weight: 200;
    Font-family: Cat Comic, cursive;
    text-decoration: none;
    color:rgb(83, 83, 83);
    font-size: 25px;
}

nav .search {
    padding-left: 300px;
}

nav .shop {
    margin-left: auto;
    padding-left: 20px;
}


@media (max-width:600px){
    header{
        flex-direction:column;
    }
    nav{
        padding: 10px 0px;
    }
}



.top-bar {
    background-color: rgb(255, 210, 31);
    padding: 5px;
    min-height: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 600;
}

.top-bar .container {
    display: flex;
    margin: 5px;
}

.top-bar .container .callcenter {
    margin-right: auto;
}

.top-bar .container div{
    margin-left: 20px;
}

@font-face {
    font-family: "Cat Comic";
    src: url("/css/Cat Comic.ttf");
}

.intro{
    background-image: url("/img/intro1.jpg");
    width: auto;
	height: 900px;
	object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.intro .intro_h1 {
    text-shadow: 1px 2px 0 black;
    Font-family: Cat Comic, cursive;
    font-weight: 400;
    margin-left: 100px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 50px;
    color: white;
}

.intro .intro_h3 {
    font-weight: 800;
    margin-left: 100px;
    color: white;
    Font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
}

.btn-1{
    padding: 20px 30px;
    margin-left: 100px;
    background-color: #ecc608;
    color: rgb(67, 67, 67);
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.btn-1:hover{
    background-color: #c8b30d;
}
    

.productos-destacados {
    text-align: center;
}
  
.productos-destacados h2{
    Font-family: Cat Comic, cursive;
    color: #414141;
    font-size: 60px;
}

.producto {
    vertical-align: top;
    display: inline-block;
    margin: 20px;
}


.producto img {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}
  
.producto h3 {
    margin: 10px ;
    Font-family: Cat Comic, cursive;
    color: rgb(68, 68, 68);
    font-size: 30px;

}
  
.precio {
    margin: 5px ;
    font-size: 25px;
    font-weight: 700;
    color: rgb(68, 68, 68);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stock{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: rgb(68, 68, 68);

}
  
.btn {
    background-color: #eab003;
    color: white;
    padding: 10px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 30px;
    font-family: Super Toast Personal Use, cursive;
}

.ver-todo-btn {
    font-family: Super Toast Personal Use, cursive;;
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 15px 40px ;
    border-radius: 45px;
    cursor: pointer;
    font-size: 50px;
    display: block;
    margin: auto;
    margin-top: 50px;
}
  

.mimascota {
    text-align: center;
    padding: 20px;
}

.mimascota h2 {
    Font-family: Cat Comic, cursive;
    font-size: 40px;
    color: #333;
}

.mimascota p {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-weight: 600;
}

.cuadros {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cuadro {
    width: 300px; 
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    overflow:hidden;
    height: auto;
}

.cuadro img {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-bottom: 10px;
    
}

.cuadro h3 {
    font-weight: 100;
    Font-family: Cat Comic, cursive;
    font-size: 20px;
    color: #414141;
    margin-bottom: 10px;
    text-align: left;
}

.cuadro p {
    font-weight: 600;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    margin-bottom: 10px;
    text-align: left;
}

.leermas {
    Font-family: Cat Comic, cursive;
    color: #606060;
    text-decoration: underline;
    justify-content: left;
    text-align: left;
}

.leermas:hover {
    text-decoration: none;
}


.refugio {
    text-align: center;
    padding: 20px;
}

.refugio h2 {
    Font-family: Cat Comic, cursive;
    font-size: 40px;
    color: #333;
    
}

.refugio p {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-weight: 600;
    margin-bottom: 90px;
}

.textos {
    width: auto; 
    display: flex;
    justify-content: center;
  
}

.texto {
    margin: auto;
    text-align: center;
}

.texto img {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
    margin: 0 5px;
}

.texto p {
    font-weight: 600;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}

.tiendas {
    display: flex;
    align-items: center;
    padding: 20px;
}

.imagenperro {
    
    background-image: url('/img/fondoperro.png');
    background-size: cover;
    background-position: left center;
    height: 800px;
    width: 100%; 
    margin: 0;
    padding: 0;
    flex:1;
}

.visita {
    background-color: rgb(255, 200, 35);
    flex: 2;
    padding: 20px;
    height: 760px;
    display: flex;
    flex-direction: column;
    align-items: left; 
    justify-content: center; 
}

.visita h2 {
    font-family: Super Toast Personal Use, cursive;
    font-size: 40px;
    color: rgb(55, 55, 55);
    margin: 10px;
}

.visita p {
    text-align: left;
    color: rgb(76, 76, 76);
    margin-bottom: 20px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botonconocer {
    background-color: #333;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 200px;
    font-size: large;
    font-family: Super Toast Personal Use, cursive;

}

.botonconocer:hover {
    background-color: #555;
}


.dosvideos {
    background-color: #ebb216; 
    text-align: center; 
}

.dosimagenes {
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.dosimagenes img {
    margin: 20px; 
    width: 600px;
    height: 500px;
    margin-top: -50px;
    margin-bottom: 50px;
}


.rectangulos {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #fff; 
    padding: 0px; 
}

.rectangulonaranjo {
    width: 100%; 
    height: 70px;
    background-color: #ffa32b;
    padding: 10px;
    margin: 0px;
    color: #4c4c4c; 
    position: center; 
}

.rectanguloamarillo {
    width: 100%;
    height: 70px;
    background-color: #fbc100; 
    color: #565656;
    margin: 0px;
    padding: 10px;
    position: center; 
    overflow: auto;
}

.rectangulonaranjo p {
    display: flex;
    justify-content: right;
    margin: 0;
    Font-family: Cat Comic, cursive;
    font-size: 30px;
}

.rectanguloamarillo p {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    overflow: hidden;
}

.llamanos {
    display: flex;
    justify-content: right; 
}

.llamanos img {
    width: 30px; 
    margin-right: 10px; 
}


.nuestras-marcas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgb(239, 239, 239);
    margin: 0 auto;
}

.contenido {
    display: flex;
    align-items: center;
}

.texto {
    text-align: center;
    margin-top: -190px;
    margin-right: 20px;
}

.texto h2 {
    font-size: 90px;
    Font-family: Cat Comic, cursive;
    color: rgb(74, 74, 74);
    margin-bottom: 10px; 
}

.texto p {
    font-size: 36px;
    margin-bottom: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(94, 94, 94)
}

.ver-marcas {
    Font-family: Cat Comic, cursive;
    background-color: #e2bb10;
    color: #fff;
    border: none;
    padding: 30px 80px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 36px;
}

.cuadros {
    margin-left: 300px;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.cuadros-izquierda,
.cuadros-derecha {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    padding: 20px;
}

.cuadro {
    width: 200px;
    height: 200px;
    background-color: white;
}

.cuadro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.gato {
    padding: 10px;
    display: flex;
    height: 900px; 
    margin-right: 500px;
}

@media screen and (max-width: 600px) {
    .cuadros {
        flex-wrap: wrap;
    }
}


@font-face {
    font-family: Super Toast Personal Use;
    src: url("/css/Super Toast Personal Use.ttf");
}

.nuestras-mascotas {
    padding-top: 50px;
    text-align: center;
}
  
.nuestras-mascotas h2 {
    font-family: Super Toast Personal Use, cursive;
    color: rgb(96, 96, 96);
    font-size: 60px;
}
  
.nuestras-mascotas p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-weight: 800;
    font-size: 20px;
    margin-top: -20px;
    padding-bottom: 30px;
}
  
.imagenes-mascotas {
    display: flex;
    justify-content: center;
  }
  
.imagenes-mascotas img {
    width: 400px;
    height: 400px;
    margin: 0 70px;
}

.mascota1 p {
    font-family: Super Toast Personal Use, cursive;
    display: block;
    margin-top: 20px;
    font-weight: 100;
    font-size:40px;
    color: rgb(59, 59, 249);
}

  .mascota2 p {
    font-family: Super Toast Personal Use, cursive;
    display: block;
    margin-top: 20px;
    font-weight: 100;
    font-size:40px;
    color: rgb(42, 42, 42);
}

.mascota3 p {
    font-family: Super Toast Personal Use, cursive;
    display: block;
    margin-top: 20px;
    font-weight: 100;
    font-size:40px;
    color: rgb(212, 34, 228);
}
  